<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="nop Commerce application test suite">

	<test name="nop Commerce application test cases">
		<classes>
			<class name="com.nopCommerce.qa.test.AddToCartFunctionalityTest" />
			<class name="com.nopCommerce.qa.test.AddToWishListFunctionalityTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->